html {
    overflow-y: scroll;

    min-height: 100%;

    background: #f7f7f7;

    -webkit-overflow-scrolling: touch;
}

a,
button,
input {
    outline: 0;

    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    font-weight: normal;

    margin: 0;
    padding: 0;

    vertical-align: baseline;
}

img {
    display: inline-block;

    max-width: 100%;

    border: 0 none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, .2);
}

i,
em {
    font-style: normal;
}

ol,
ul {
    list-style: none;
}

input,
select,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

a {
    text-decoration: none;

    color: #333;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: '黑体' SimHei,HeiTi SC,helvetica neue LT,'微软雅黑',Microsoft YaHei;
    font-size: 12px;
    line-height: 1.5;

    min-width: 320px;
    max-width: 640px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;

    -webkit-user-select: none;
            user-select: none;

    color: #fff;
    background: #fff;

    -webkit-text-size-adjust: 100%;
}
