/*收货信息*/

.info_shop
{
	padding: 5px 10px;

	background: #f7f7f7;
}

.info_img
{
	overflow: hidden;

	padding: 5px;

	background: #fff;
	dt
	{
		float: left;
		overflow: hidden;

		width: 90px;
		height: 70px;
		img
		{
			height: 100%;
		}
	}
	dd
	{
		margin-left: 100px;
		padding-right: 30px;
	}
	h3
	{
		font-size: 15px;
		line-height: 31px;

		overflow: hidden;

		height: 31px;
		padding-top: 10px;

		white-space: nowrap;
		text-overflow: ellipsis;

		color: #333;
	}
	em
	{
		font-size: 14px;
		line-height: 16px;

		float: left;

		height: 16px;

		color: #e51616;
	}
	div
	{
		font-size: 12px;
		line-height: 16px;

		float: right;

		height: 16px;

		text-align: center;

		color: #666;
	}
	s
	{
		font-style: normal;

		float: left;

		width: 28px;
		height: 16px;

		text-decoration: none;
	}
	span
	{
		float: left;

		width: 16px;
		height: 16px;

		background: #d7d7d7;
	}
}

.info_msg
{
	margin-top: 5px;

	background: #fff;
	h3
	{
		font-size: 14px;
		line-height: 35px;

		height: 35px;
		padding-left: 7.6px;

		color: #888;
	}
	dl
	{
		margin-bottom: 7.6px;
		padding-left: 7.6px;
	}
	dt
	{
		font-size: 12px;

		float: left;

		width: 12.6px;

		color: #ec6e6e;
	}
	dd
	{
		padding-left: 12.6px;

		color: #555;
		&:nth-child(2)
		{
			font-size: 14px;

			height: 30px;

			color: #555;
		}
		&:nth-child(3),
		&:nth-child(4)
		{
			margin-bottom: 5px;
			padding-right: 22.6px;
		}
		&:nth-child(3) input
		{
			line-height: 25px;

			-webkit-box-sizing: border-box;
			width: 100%;
			height: 25px;
			padding: 0 10px;

			border: 1px solid #d2d2d2;
			background: white;

			-webkit-appearance: none;
		}
	}
	.radio
	{
		label
		{
			line-height: 26px;

			display: block;

			width: 50%;
			height: 26px;

			border-radius: 5px;
			background: #f2f2f2;
		}
		b
		{
			position: relative;
			top: 10px;

			float: left;

			width: 8px;
			height: 8px;
			margin: 0 10px;

			background: url(../images/radio_icon.png) no-repeat center (top / 100%) auto;
		}
		label.cur b
		{
			background: url(../images/radio_icon.png) no-repeat center (bottom / 100%) auto;
		}
	}
	dd
	{
		&:nth-child(5)
		{
			padding-left: 42.6px;

			color: #a8a8a8;
		}
		&.tos
		{
			label
			{
				line-height: 26px;

				display: block;

				width: 100%;
				height: 26px;

				border-radius: 5px;
				background: #f2f2f2;
			}
			input
			{
				width: 10px;
				height: 10px;
				margin: 0 10px;
				padding: 0;

				border: none;
				background: none;
			}
		}
	}
	ul
	{
		line-height: 50px;

		height: 50px;
		padding: 0 20px;
		padding-top: 25px;

		color: #555;
		li
		{
			float: left;
			&:last-child
			{
				float: right;

				color: #ec6e6e;
			}
		}
	}
	var
	{
		font-size: 12px;
		font-style: normal;
		line-height: 35px;

		display: block;

		width: 92%;
		height: 35px;
		margin-left: 4%;

		text-align: center;

		color: #fff;
		border-radius: 5px;
		background: #f46868;
	}
}

/*.info_msg .radio input{width:10px;height:10px;margin:0 10px;border:none;background:none;padding:0;-webkit-appearance:push-button;}*/

.dig_pay
{
	position: fixed;
	z-index: 2;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0);
}

.dig_bottom
{
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 15px;

	text-align: center;

	background: rgba(0, 0, 0, .4);
	a
	{
		line-height: 45px;

		display: block;

		width: 80%;
		height: 45px;
		margin-bottom: 15px;
		margin-left: 10%;

		color: #fff;
		border-radius: 5px;
		&:nth-child(1)
		{
			background: #e94643;
		}
		&:nth-child(2)
		{
			background: #00aaef;
		}
		&:nth-child(3)
		{
			background: #8dd124;
		}
	}
}
